body{
    font-family: 'Roboto', sans-serif;

    margin: 0;
}

header{
    text-align: center;
}

h1{
    font-family: 'Zen Old Mincho', serif;
}

h2{
    font-family: 'Zen Old Mincho', serif;
}

li{
    
    
           

}

section, aside, footer{
        
        margin: 1rem;
        padding: .5rem;
        font-size: 12pt;
        background-color: #6699CC;
        border-radius: 25px;
}

@media only screen and (min-width: 768px) {
    section, aside, footer{
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        max-width: 670px;
        
    }
}